{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <center>
        <h1>HOME</h1>
    
    <div>
        <img src="{% static 'images/bg4.jpg' %}" alt="no" height="500px" width="500px" >
        <img src="{% static 'images/bg3.jpg' %}" alt="no" height="500px" width="500px" >
        
    </div>
    <div>
        <button type="button" class="btn btn-primary">like</button>
        <button type="button" class="btn btn-danger">Dislike</button>
    </div>
    <h2>Welcome to my home!</h2></center>
</body>
</html>