<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app2</title>
    <style>
        body{background-color: darkgray;}
        table{margin-top: 50px;}
        td{text-align: center;
            padding-right:50px;
            padding-left:50px ;
        background-color:cornflowerblue;}
        th{background-color: aqua;
        padding: 20px;}
    </style>
</head>
<body>
    <center>
        <h1>Data getting from BE to FE </h1>
    <table>
        <tr>
            <th>Sr.</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{name1}}</td>
        </tr>
    <tr>
        <td>2</td>
        <td>{{name2}}</td></tr>
    </table></center>
    
</body>
</html>