{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Student</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <h1 align="center">Student</h1>
    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Sid (pk)</th>
                <th>Student Name</th>
                <th>Class</th>
                <th>Student Course</th>
            </tr>
            
        </thead>
        <tbody>
            {% for s in S %}
              <tr>
                <td>{{s.Sid}}</td>
              <td>{{s.Sname}}</td>
              <td>{{s.Sclass}}</td>
              <td>{{s.Scourse}}</td>
              </tr>
            {% endfor %}

        </tbody>

    </table>
    
</body>
</html>