<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket ACADEMY</title>
    <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
  rel="stylesheet"/>
  <style>
  body{background-image: url(pxfuel\ \(6\).jpg);
background-size: cover;}
  #head{font-size: 50px;}
        #main{display: flex;
        justify-content: space-around;}
        footer{ position: fixed;
                background-color:cornflowerblue;
                color: #000;
                width: 100%;
                left: 0;
                height: 50px;
                bottom: 0;}
                li{color:yellow;}
        </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container">
           <img src="NTCA.jpeg" alt="no" class="navbar-brand card-img-100 rounded-circle" height="60">
           <h3 align="center" style="color:blanchedalmond;">New Theme Cricket Academy</h3>
                      <div>
                      <button class="navbar-toggler" data-toggle="collapse" data-target="#ngnav">
                          <span class="navbar-toggler-icon bg-info"></span></button>
                      <div class="collapse navbar-collapse" id="#ngnav">   
                      <ul class="navbar-nav ml-auto">
                       <li class="nav-item"><a href="#" class="nav-link">Addmission</a></li>
                       <li class="nav-item"><a href="#" class="nav-link">Query</a></li>
                       <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>
                       <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                       
                      </ul>
                      </div>
                      </div>
      </nav>
      <h1 id="head" align="center" style="color:yellowgreen">Cricket Academy</h1>
      <div id="main">
                    <div ><h1 style="color: aliceblue;">FACILITIES</h1>
                        <ul>
                        <li><b>Concrete Wicket</b></li>
                        <li><b>Truf Wicket</b></li>
                        <li><b>Playing kit</b></li>
                        <li><b>R.O Water</b></li>
                        <li><b>Washroom</b></li>
                        <li><b>Changing room</b></li></ul>
                    </div>
                    <div ><h1 style="color: aliceblue;">FEATURES</h1>
                        <ul>
                            <li><b>Coaching for ...</b></li>
                            <li><b>Batting</b></li>
                            <li><b>Fast Bowling</b></li>
                            <li><b>Spin Bowling</b></li>
                            <li><b>Wicket Keeping</b></li>
                            <li><b>Matches</b></li>
                            <li><b>Strenght</b></li>
                            <li><b>Fitness training</b></li></ul>
                    </div>
                    <div ><h1 style="color: aliceblue;">OUR STRENGHTS</h1>
                        <ul>
                            <li><b>Good Ground</b></li>
                            <li><b>Equipment facilities</b></li>
                            <li><b>Good Management Base</b></li>
                            <li><b>Young & Energetic Coaches</b></li>
                            <li><b>Certified Yoga Trainer</b></li>
                            <li><b>Physiotherapist</b></li></ul>
                            <h1>Easy to Reach</h1>
                    </div>
      </div>
<footer align="center" >
    Govt.Sanskrit College,Kajipur,Patna-800004
    (Near moinul haq Stadium,Patna)  Mob :9798266787,9709707416
</footer>
      
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
</body>
</html>